.topbar-container {
  background-color: #242526;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin: 10px 0 0;
  padding: 0 20px;
}
 
.topbar-items li {
  margin-right: 20px;
}

.topbar-items li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
